*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.hero{
    background: #1d2026;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 20px 8%;
}
nav .menu-img{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}
nav .logo{
    width:160px;
    cursor: pointer;

}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
button{
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
button span{
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s,margin-left 0.5s;
}

.lamp-container{
    position: absolute;
    top: -20px;
    left: 22%;
    width: 200px;

}
.lamp{
    width: 100%;
}
.light{
    position: absolute;
    top: 97%;
    left: 46%;
    transform: translateX(-50%);
    width: 700px;
    opacity:0;
    transition: opacity 0.5s;

}
.text-container{
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
}
.text-container h1{
    font-size: 60px;
    font-weight: 400;
    margin-left: 25px;
}
.text-container a{
    text-decoration: none;
    background: #00986f; 
    border-radius: 100px;
    padding: 10px 22px;
    top: 37px;
    display: flex;
    margin: 23px 23px;
      margin-right: 23px;
    margin-right: 359px;
    color: white;
    margin-top: -8px;
}

.text-container a:hover{
    background: black;
}
.control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 32px;
}
.control .line{
    width: 250px;
    height: 4px;
    background: #fff;
    margin: 0 20px;
    border-radius: 2px solid red;
}
.control .line span{
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    background: #00986f;
    display:block;

}
.active{
    background: green;
}
.active span{
    background: #fff;
    margin-left: 31px;
 }
 .on{
    opacity: 1;
 }
 ul li a:hover{
    background: #F09440;
    color: white;
    border-radius: 23px;
    padding: 0 12px;
 }
 .logo-img{
  width: 12vw;
  /* margin-right:7px 23px; */
 }
 .text-container p{
  
  font-size: 1.2rem;
font-weight: bold;
color: yellow;
padding: 34px 24px;
 }
 .control p{
    color: white;
 }
